# Logs
app/gatsby/logs
app/gatsby/*.log
app/gatsby/npm-debug.log*
app/gatsby/yarn-debug.log*
app/gatsby/yarn-error.log*

# Runtime data
app/gatsby/pids
app/gatsby/*.pid
app/gatsby/*.seed
app/gatsby/*.pid.lock

# Coverage directory used by tools like istanbul
/coverage

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env*

# gatsby files
app/gatsby/.cache/
app/gatsby/public

# local db persistence
app/data

# Mac files
.DS_Store